/*TASK BOARD STYLING*/
  .tasks-board {
    display: flex;
    gap: 50px;
    padding: 2rem;
    justify-content: flex-start;

    .column {
      width: 350px;
      height: 300px;
    }
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 2px solid black;
      border-radius: 30px;
      padding: 0.5rem 1.5rem;
      font-size: 19px;
      margin-bottom: 1.1rem;
      height: 1.6rem;

      .add-task-btn {
        background: none;
        border: none;
        font-size: 1.4rem;
        font-weight: bold;
        cursor: pointer;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
      }

      .add-task-btn:active {
        background: #eee;
      }
    }
  }

/*INPUT TASK CARD STYLING*/
.input-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background: #fafafa;
  border: 1px solid #ccc;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

input {
    padding: 0.4rem;
    border-radius: 0.5rem;
    border: 1px solid #bbb;
    font-size: 1rem;
}

.button {
    align-self: flex-end;
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

/*INDIVUDUAL TASK CARD STYLING*/
  .task-card {
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;

    .task-delete-btn {
      cursor: pointer;
      font-weight: bold;
      padding: 0 0.5rem;
      border-radius: 50%;
    }
  }

  .task-delete-btn:hover {
    color: red;
  }

  .task-card-details {
    font-size: 0.95rem;
    color: black;
  }

  .task-actions {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

  .move-btn {
    background: none;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
  }
  .move-btn:hover {
    background: #eee;
  }

  /*OTHERS STYLING*/
.tasks-empty {
  color: #aaa;
  font-style: italic;
  margin: 1rem 0 0 1.5rem;
}

.edit-textarea {
    width: 100%;
    margin-bottom: 8px;
    margin-top: 8px;
}